body {
  background-image: url(https://image.freepik.com/free-photo/top-view-wooden-background_23-2148234292.jpg);

  color: black;
  margin: 0;
}
/*header {
  background-color: black;
}*/
header {
  background-color: black;
  padding: 5px 10px;
}


#title {
  text-align: center;
  color: white;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 45px
}

}
#button{
  font-family: 'Raleway', sans-serif;
  margin: auto;
  text-align:
}

h5{
  font-family: 'Spartan', sans-serif;
}

#playerInfo{
  background-color: lightgrey;
  opacity: 1;
  background-size: contain;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  width: 100px;
  border: 15px black;
  padding: 100px;
  box-shadow: 1px 1px 1px 1px;
}
#dealerInfo{
  background-color: lightgrey;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -80;
  margin-top: -5;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border: 15px black;
  padding: 100px;
  box-shadow: 1px 1px 1px 1px;
    /*box-shadow: 1px 1px 1px 1px;*/
  }
.buttonModifier{
  font-family: 'Spartan', sans-serif;
  background: blue;
}
#playerInfo #moneyValue{
  padding-right: 500px;
  font-family: 'Spartan', sans-serif;
  text-align: left;
  justify-content: left;
}
